*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 27, 27);
    color: rgb(231, 224, 224);
}


a {
    text-decoration: none;    
    color: rgb(231, 224, 224);
    font-weight: bold;
    text-transform: uppercase;
}

/*----- Navbar -------*/
nav {
    /*display: none;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.menu {
    top: 8vh;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    right: -100%;
}

.menu a {
    border: 1px solid rgb(231, 224, 224);
    border-radius: 25%;
    padding: 5px;
}

.show {
    right: 0;
}

.hamburger {
    cursor: pointer;
    position: relative;
}

.hamburger span {  
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(231, 224, 224);
    margin: 3px;
    border-radius: 6px;
    transition: 0.4s;
}

.hamburger.is_active span:nth-child(1){
    transform: translate(-5px, 6px) rotate(-45deg);
}
.hamburger.is_active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is_active span:nth-child(3){
    transform: translate(-5px, -6px) rotate(45deg);
}

.show a:nth-of-type(odd) {
    color: rgb(121, 118, 118);
}
/*----- Navbar -------*/


.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.personal_data {
    color: rgb(197, 221, 241);
    padding: 3rem;
    order: 2;
}
.photo {
    width: 50vh;
    height: auto;
    border-radius: 50%;
    padding: 3rem;
    order: 1;
}

.projects {
    padding: 3rem;
}

.project {
    padding: 1rem;
    display: flex;
    border: 1px solid rgb(139, 172, 241);
    margin-top: 0.75rem;
    justify-content: space-around;
    flex-direction: column;
}

.projectDescription {
    padding-right: 1.5rem;
    margin-bottom: 10px;
}
.projectDescription h1 {
    padding-bottom: 10px;
}

.projectShow {
    margin: 0.5rem;
}

.projectPhoto {
    width: 30vh;
    margin-bottom: 3px;
}

.icons i {
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 5px;
}

.contact {
    padding: 3rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 0.75rem;
    width: 100%;
    border: 1px solid rgb(146, 124, 124);
    box-shadow: 5px 5px 10px rgb(146, 145, 145);
}
.contactForm input, textarea, button {
    margin: 0.5rem 0;
    border-bottom: 1px solid rgb(14, 13, 13);
    padding: 0.25rem;
}

.contactForm button {
    width: fit-content;
}

.contact .icons {
    margin-top: 1rem;
}



/*---------thanks.html-----------*/
.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thanks h1, .thanks a, .thanks p {
    margin: 1rem;
}

@media (min-width: 950px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        position: relative;
        background-color: rgb(29, 27, 27);
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        height: 8vh;
        top: 0vh;
        padding-top: 0px;
        right: 0;
    }
    .introduction {
        flex-direction: row;
    }
    .personal_data {
        order: 1;
    }
    .project {
        flex-direction: row;
    }
    .projectDescription {
        margin-bottom: 0;
    }
    .contactForm {
        margin-top: 0.75rem;
    }
}

