*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 9vh;
    color: rgb(255, 255, 255);
    color: rgb(0,0,0);
}

body {
    background-color: #6884d8;
    background: linear-gradient(167deg, rgba(90,163,255,1) 6%, rgba(238,243,250,0.6054796918767507) 40%, rgba(238,243,250,1) 59%, rgb(15 76 118 / 78%) 97%);

}

a {
    text-decoration: none;    
    color: rgb(231, 224, 224);
    font-weight: bold;
    text-transform: uppercase;
}

header {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgb(255, 194, 194);
    background-color: rgb(56, 55, 55);
    z-index: 2;
}

/*----- Navbar -------*/
nav {
    /*display: none;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(56, 55, 55);
}

.menu {
    top: 7vh;
    position: fixed;
    width: 100%;
    height: 93vh;
    z-index: 1;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    right: -100%;
    background-color: inherit;
}

.menu a {
    border: 1px solid rgb(231, 224, 224);
    border-radius: 25%;
    padding: 5px;
}

.show {
    right: 0;
}

.hamburger {
    cursor: pointer;
    position: relative;
}

.hamburger span {  
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(231, 224, 224);
    margin: 3px;
    border-radius: 6px;
    transition: 0.4s;
}

.hamburger.is_active span:nth-child(1){
    transform: translate(-5px, 6px) rotate(-45deg);
}
.hamburger.is_active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is_active span:nth-child(3){
    transform: translate(-5px, -6px) rotate(45deg);
}

.show a:nth-of-type(odd) {
    color: rgb(121, 118, 118);
}
/*-----end Navbar -------*/

/*-----About -------*/
.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 3vh;
}
.personalData {
    padding: 3rem;
    padding-top: 0;
    order: 2;
    font-size: 1.25rem;
    font-family: 'Unna', serif;
}
.photo {
    height: 50vh;
    width: auto;
    border-radius: 50%;
    padding: 3rem;
    order: 1;
    animation: showPic 3s forwards;
}

@keyframes showPic {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/*-----end About -------*/

.titleP {
    font-size: 2rem;
    font-weight: bold;
}


/*-----Projects -------*/
.projects {
    padding: 0 3rem;
}
.project{
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
    margin: 1rem 0;
    padding-top: 0.75rem;
}
.project .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project:hover {
    min-height: auto;
}
.project .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224 230 237);
    clip-path: circle(20px at center);
    transition: 0.5s;
}
.project:hover .circle::before {
    clip-path: circle(100% at center);
}
.project img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    pointer-events: none;
    transition: 0.5s;
}
.project:hover img {
    top: 83%;
    height: 25%;
    opacity: 0;
}
.project .projectDescription {
    position: relative;
    width: 100%;
    left: 20%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.project:hover .projectDescription {
    left: 0;
    opacity: 1;
    visibility: visible;
}


.icons i {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;
}
.projectDescription {
    padding: 1.5rem;
    padding-top: 0;
}
.projectDescription h1 {
    padding-bottom: 10px;
}
/*-----end Projects -------*/

/*-----Contact -------*/
.contact {
    padding: 3rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 0.75rem;
    width: 100%;
    border: 1px solid rgb(146, 124, 124);
    box-shadow: 5px 5px 10px rgb(146, 145, 145);
}
.contactForm input, textarea, button {
    margin: 0.5rem 0;
    border-bottom: 2px solid rgb(14, 13, 13);
    border-top: 1px solid rgb(14, 13, 13);
    border-right: 2px solid rgb(14, 13, 13);
    border-left: 1px solid rgb(14, 13, 13);
    padding: 0.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.contactForm button {
    width: fit-content;
    font-weight: bold;
}

.contact .icons {
    margin-top: 1rem;
    font-size: 2rem;
}
/*-----end Contant -------*/


/*---------thanks.html-----------*/
.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.thanks h1, .thanks a, .thanks p {
    margin: 1rem;
}


@media (min-width: 950px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        position: relative;
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        height: 8vh;
        top: 0vh;
        padding-top: 0px;
        right: 0;
    }
    .introduction {
        flex-direction: row;
    }
    .personalData {
        order: 1;
        padding-top: 3rem;
    }
    .project {
        align-items: center;
        flex-direction: row; 
    }
    .project .projectDescription {
        margin-bottom: 1rem;
        width: 50%;
        padding: 1.5rem;
    }
    .project:hover img {
        left: 74%;
        top: 50%;
        height: 90%;
        opacity: 1;
    } 
    .contactForm {
        margin-top: 0.75rem;
    }
    .show a:nth-of-type(odd) {
        color: rgb(255, 255, 255);
    }
}

